@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255% 100%;
  --foreground: 222.2 84% 4.9%;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased overflow-x-hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
